<a href="https://colab.research.google.com/github/uthours/Data-Processing-Visualization/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL Queries
# Dr. Jacob Data Processing Visualization
# Uttam Subedi

Firts, I am going to import the libraies

In [16]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that I am authenticated, I can start to play around in the dataset.  I am going to look at the Austin bikeshare trips data from Texas and calculate the entries in the dataset, compute the average time for a trip based on starting point and compute how many trips start at each starting point.

In [17]:
%%bigquery --project fabled-progress-338823
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

I am going to plot the station name and average time in the following code

In [18]:
%%bigquery --project fabled-progress-338823
SELECT AVG(duration_minutes) as avg_time, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
Order by avg_time

       avg_time          start_station_name
0      6.800000                        Shop
1      9.750000  Mobile Station @ Unplugged
2     11.810289                 Main Office
3     13.494125        Dean Keeton & Whitis
4     13.893964                22nd & Pearl
..          ...                         ...
188  105.000000                      Stolen
189  114.000000       cesar Chavez/Congress
190  126.739316              17th/Guadalupe
191  132.333710                  6th/Lavaca
192  197.470588           East 5th/Shady Ln

[193 rows x 2 columns]

lets put the data related to no_trips and start station name.

In [19]:
%%bigquery --project fabled-progress-338823
SELECT COUNT(start_station_name) as No_Trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
Order by No_Trip

     No_Trip          start_station_name
0          1                      Stolen
1          1               Eeyore's 2017
2          1       cesar Chavez/Congress
3          2               Eeyore's 2018
4          4  Mobile Station @ Unplugged
..       ...                         ...
188    34758        Rainey St @ Cummings
189    35307              2nd & Congress
190    36520    City Hall / Lavaca & 2nd
191    40635        Riverside @ S. Lamar
192    72799        21st & Speedway @PCL

[193 rows x 2 columns]